@mixin ulalign {
    display: flex;
    align-items: center;
}

@mixin graybuttons {
    font-size: 17px;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    color: #828282;
    margin-left: 5px;
    border-radius: 4px;
    line-height: 1px;
}

@mixin navalign ($padding) {
    padding: $padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}